:root
{
    --backgroundColor: #222831;
    --primaryColor: #393E46;
    --secondaryColor: #00ADB5;
    --fontColor: #EEEEEE;
    --labelColor: lightgray;
}
/* Google Fonts */
.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: "Ranchers", sans-serif;
    font-size: 70px;
    color: var(--secondaryColor);
    text-align: center;
    margin-bottom: 40px;
}

/**Crear.php**/
form {
    background-color: var(--primaryColor);
    padding: 50px;
    border-radius: 15px;
    max-width: 1000px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

label[for="pfp"] {
    margin-top: 30px;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    resize: vertical; /* Allows the user to resize only vertically */
    background-color: var(--labelColor);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="file"] {
    color: black;
    width: 40%;
}

button[type="submit"] {
    width: 30%;
    padding: 15px;
    background-color: var(--secondaryColor);
    color: var(--fontColor);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #008B8F;
    box-shadow: 0 0 10px rgba(0, 139, 143, 0.5);

}