:root
{
    --backgroundColor: #222831;
    --primaryColor: #393E46;
    --secondaryColor: #00ADB5;
    --fontColor: #EEEEEE;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--secondaryColor);
}

/**Crear.php**/